<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
</head>
<body>
  <% include common/_header %>

  <!-- content -->
  <div id="content">
    <div class="inner">
      <p>トップページに出力する内容</p>
    </div><!-- /inner -->
  </div><!-- /content -->

  <% include common/_footer %>
</body>
</html>
